{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'contacts/style.css' %}"/>
    <title>Phone Directory App</title>
</head>

<body>

<header><H1 align="middle">My Phone Directory </H1></header>

{% if user.is_authenticated %}
    <h2 align="middle"> User: {{ user }} </h2>
    <h4 align="right"><a href="{% url 'user_sessions:logout' %}">logout</a></h4>

{% endif %}

{% block content %}
{% endblock %}

<footer><h3 align="middle">Some Footer Here !!!!!!!!!!!!!!!!!!!!!!!!!!!</h3></footer>

</body>
</html>
