{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'contacts/style.css' %}"/>
</head>
<header>

    <H1 align="middle">My Phone Directory </H1>

{% if user.is_authenticated %}
    <h2 align="middle"> User: {{ user }} </h2>

    <h4 align="right"> <a href="{% url 'user_sessions:logout' %}">logout</a></h4>
</header>

    {% block content %}
    {% endblock %}

{% else %}
    <a href="{% url 'user_sessions:login' %}">login</a>

{% endif %}


<p><h3 align="middle"><footer>Some Footer Here !!!!!!!!!!!!!!!!!!!!!!!!!!!</footer></h3></p>
