{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'contacts/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<h1>{{ contact_details }}</h1>
<p><b>Email: </b>{{ contact_details.email }}</p>
<p><b>Phone: </b>{{ contact_details.phone_number }}</p>

<p><b>Address: </b>
    {{ address_details.address_line }}, {{ address_details.city }},
    {{ address_details.state }}, {{ address_details.zip_code }}</p>
<p><b>Country: </b>{{ address_details.country }}</p>
</body>